<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seach Blood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  {% include 'layout.html' %}

  <div class="row backgroundimg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 school-options-dropdown text-center">
          <div class="dropdown btn-group">
          <form class="form-inline">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Select Blood Group</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected>Choose...</option>
              <option value="1">A+VE</option>
              <option value="2">B+VE</option>
              <option value="3">A-VE</option>
              <option value="4">B-VE</option>
              <option value="5">AB+VE</option>
              <option value="6">AB-VE</option>
              <option value="7">O+VE</option>
              <option value="8">O-VE</option>
            </select>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
